
<!DOCTYPE html>
<html>
<head>
</head>
<body>
  
    <div class="form_auth_block">
        <div class="form_auth_block_content">
          <p class="form_auth_block_head_text">Registration</p>
          <form class="form_auth_style" action="#" method="post">
            <label>login</label>
            <input type="login" name="login" placeholder="Enter your login" required >
            <label>password</label>
            <input type="password" name="password" placeholder="Enter your password" required >
            <button class="form_auth_button" type="submit" name="submit">Sign in</button>
            <a href="http://127.0.0.1:5000/login"><p>Already have an account</p></a>
          </form>
        </div>
      </div>
</body>
</html>