<!DOCTYPE html>
<html>
<head>
    <title>Search NFT</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <form method="POST">
        <div class="wrap">
            <div class="search">
            <input type="text" class="searchA" name="address" placeholder="Search nft">
            <button class="form_" type="search" name="submit">Search</button>
           <a href="http://127.0.0.1:5000/logout">Logout</a></button>
            </div>
        </div>
    </form>
        
</body>
</html>